<a class="btn" href="{{ link }}">{{ text | default: 'Take the Quiz' }}</a>

{% style %}
.btn {
    display: inline-block;
    background-color:{{btncolor}};
    padding: 12px 24px;
    border-radius: 10px;
    color: white;
}
{% endstyle %}