<a class="btn" href="">Take the Quiz</a>

{% style %}
.btn {
    display: inline-block;
    background-color: #525036;
    padding: {{padding}}px 0;
    border-radius: 10px;
    color: white;
}
{% endstyle %}