{{ block.settings.text }}


{% schema %}
    {
        "name": "Announcement Item",
        "settings": [
            {
                "type": "richtext",
                "id": "richtext",
                "label": "Text",
                "default": "<p>Free shipping on all orders</p>"
            }
        ],
        "presets": [
            {
                "name": "Announcement Item"
            }
        ]
    }
{% endschema %}