{{ block.settings.item }}

{% schema %}
    {
        "name": "Announcement Item",
        "tag": null,
        "settings": [
            {
                "type": "richtext",
                "id": "item",
                "label": "Item",
                "default": "<p> Free Shipping on Orders over $65</p>"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text Color",
            },
        ],
        "presets": [
            {
                "name": "Announcement Item"
            }
        ]
    }
{% endschema %}
