{{ block.settings.item }}


{% schema %}
    {
        "name": "Company Info",
        "tag": null,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "<p>Free shipping on all orders</p>"
            }
        ],
        "presets": [
            {
                "name": "Announcement Item"
            }
        ]
    }
{% endschema %}