<section class="color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width announcement-bar">
        <p>HelloHelloHelloHelloHelloHelloHelloHello</p>
        <p>HelloHelloHellooHelloHelloHello</p>
    </div>
</section>


<style>
    .announcement-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

</style>

{% schema %}
    {
        "name": "Announcement Bar",
        "limit": 1,
        "enabled_on": {
            "groups": ["header"]
        },
        "blocks": [
            {
                "type": "@theme"
            }
        ],
        "settings": [
            {
                "type": "checkbox",
                "id": "enable_bar",
                "label": "Enable Announcement Bar",
                "default": true
            },
            {
                "type": "range",
                "id": "paddingx",
                "label": "PaddingX",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "range",
                "id": "paddingy",
                "label": "PaddingY",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
        ],
        "presets": [
            {
                "name": "Announcement Bar"
            }
        ]
    }
{% endschema %}