<div class="color-{{ section.settings.header_color_scheme }}">
    <h1>hello</h1>
</div>


{% schema %}
    {
    "name": "Header",
    "settings": [
    ],
    "presets": [
        {
        "name": "Header"
        }
    ]
    }
{% endschema %}