<div>
    <h1>hello</h1>
</div>


{% schema %}
    {
    "name": "Header",
    "settings": [
        {
        "type": "color_scheme",
        "id": "header_color_scheme",
        "label": "Header color scheme",
        "default": "scheme-1"
        }
    ],
    "presets": [
        {
        "name": "Header"
        }
    ]
    }
{% endschema %}