<div class="reviewSection">
    <div class="page-width">
        <div class="flex">
<h1>Hello</h1>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Customer Review",
        "class": "customer_review",
        "settings": [
        
        ],
        "presets": [
            {
                "name": "Customer Review"
            }
        ]
    }
{% endschema %}
