<div class="featured-collection-product">
    <div class="page-width">
        <div class="row">
            {% for collection in collections %}
                <div class="col-4">
                    {% render 'collection-card', collection: collection %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% schema %}
    {
    "name": "FC Product",
    "class": "fc_product",
    "settings": [
    ],
    "presets": [
        {
        "name": "Featured Collection Product"
        }
    ]
    }
{% endschema %}