<div class="">
    <h1>hello</h1>
</div>


{% schema %}
    {
    "name": "Featured Collection",
    "class": "featured-collection",
    "settings": [
    ],
    "presets": [
        {
        "name": "Featured Collection"
        }
    ]
    }
{% endschema %}