<section class="">
    <div class="page-width">
        <h2>SPOTLIGHT</h2>
        <div class="featured-collection">
            {% for item in collections %}
                <div class="collections">
                    <img src="" alt="">
                    <div class="items">
                        <h3>{{ item.title }}</h3>
                        <a href="{{ item.url }}">See More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .featured-collection {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    }

    .collections {
        background: antiquewhite;
        width: 24%;
    }
    
</style>

{% schema %}
{
    "name": "Featured Collection",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collections"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}