<section class="">
    <div class="page-width">
        <div class="featured-collection">
            <h2>SPOTLIGHT</h2>
            <div class="collections">
                <div class="items">
                    <img src="" alt="">
                    <h3>Hello</h3>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured Collection",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collections"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}