<section class="">
    <div class="page-width">
        <h2>SPOTLIGHT</h2>
        <div class="featured-collection">
            {% for item in collections %}
                <div class="items">
                    {% if item.image.src %}
                        <img src="{{ item.image.src | image_url }}" alt="" width="auto" height="auto">
                    {% else %}
                        {{ 'collection-1' | placeholder_svg_tag }}
                    {% endif %}
                    <div class="item-title">
                        <h3>{{ item.title }}</h3>
                        <a href="{{ item.url }}">See More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .featured-collection {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;
        gap: 30px;
    }
    .items>img,svg {
        object-fit: cover;
        width: 350px;
        height: 408px;
        border-radius: -10px;
    }
    .item-title {
        margin-top: 15px;
    }
    
</style>

{% schema %}
{
    "name": "Featured Collection",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [
        {
            "type": "collection",
            "id": "collection",
            "label": "Collections"
        }
    ],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}