<div class="featured-collection-product">
  <div class="page-width">
    <h2 class="section-heading">Featured Products</h2>

    <div class="product-grid">
        {% for product in product.collections %}
                <div class="col-4">
                    <div class="product-card">
                      <img src="" alt="Product">
                      <div class="product-info">
                        <h3>{{ product.title }}</h3>
                        <span class="price">{{ product.price | money_with_currency }}</span>
                        <p>{{ product.description }}</p>
                        <a href="#" class="btn">View Product</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
    </div>
  </div>
</div>



{% schema %}
    {
    "name": "FC Product",
    "class": "fc_product",
    "settings": [
    ],
    "presets": [
        {
        "name": "Featured Collection Product"
        }
    ]
    }
{% endschema %}