<section class="">
    <div class="page-width">
        <div class="featured-collection">
            <div class="items">
                <img src="" alt="">
                <h3>color_scheme</h3>
                <button class="btn">See more</button>
            </div>
            <div class="items">
                <img src="" alt="">
                <h3>color_scheme</h3>
                <button class="btn">See more</button>
            </div>
            <div class="items">
                <img src="" alt="">
                <h3>color_scheme</h3>
                <button class="btn">See more</button>
            </div>
            <div class="items">
                <img src="" alt="">
                <h3>color_scheme</h3>
                <button class="btn">See more</button>
            </div>
            <div class="items">
                <img src="" alt="">
                <h3>color_scheme</h3>
                <button class="btn">See more</button>
            </div>
        </div>
    </div>
</section>

<style>
    .featured-collection{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1%;
    }
    .items{
        padding: 10px;
        border: 1px solid #12121221 ;
        width: 24%;
    }
    .btn {
        background-color: bisque;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>

{% schema %}
{
    "name": "Featured Collection",
    "disabled_on": {"groups": ["header", "footer"]},
    "settings": [],
    "presets": [
        {
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}