{% liquid
  assign padding_footerx = section.settings.padding-footerx
%}
<section class="footer {{ section.id }} color-{{ section.settings.color_scheme }} gradient">
    <div class="page-width">
        <div class="footer-content">
            <div class="logo">
                {% content_for 'blocks' %}
                <h3>GET 10% OFF YOUR FIRST ORDER WHEN SIGNING UP TO OUR NEWSLETTER</h3>

                {% form 'customer', class: 'newsletter' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <input type="email" placeholder="Email" name="contact[email]" required>
                    <button type="submit" aria-label="Subscribe">
                        {% render 'icons', icon: 'rightarrow' %}
                    </button>
                {% endform %}
            </div>

            <div class="links">
                {% for i in (1..4) %}
                    <div class="link">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="">Videos</a></li>
                            <li><a href="">Reviews</a></li>
                            <li><a href="">Authenticity</a></li>
                            <li><a href="">Discount Codes</a></li>
                            <li><a href="">Gift Cards</a></li>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
</section>

<style>
    .newsletter {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .newsletter-btn {
        background: none;
        border: 0;
        cursor: pointer;
    }

    .footer {
        padding: {{ padding_footerx }}px 0;
    }
    .footer-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 76px;
        width: 100%;
    }
    .logo{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    .logo h3 {
        font-size: 28px;
        width: 80%;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    form.newesletter {
        width: 100%;
        border: 1px solid rgba(18, 18, 18, 0.29);
    }
    .links{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .link h5 {
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .link {}

    .link ul li {
        padding: 6px 0;
        font-size: 16px;
    }
    .link ul li a {
        color: #121212;
    }
    
</style>


{% schema %}
    {
        "name": "Footer",
        "class": "footer_section",
        "enabled_on": {
            "groups": ["footer"]
        },
        "settings": [
            {
                "type": "link_list",
                "id": "menu",
                "label": "Menu"
            },
            {
                "type": "range",
                "id": "padding-footerx",
                "label": "Footer Padding",
                "min": 10,
                "max": 120,
                "default": 10,
                "step": 10,
                "unit": "px"
            },
            {
                "type": "header",
                "content": "Footer Style"
            },
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
        ],
        "blocks": [
            {
                "type": "@theme"
            }
        ]
    }
{% endschema %}