<header>
    <div class="container">
        <nav>
            <div class="logo">
                <h1>Logo</h1>
                <div class="menu">
                    <ul>
                        <li><a href="">Shop All</a></li>
                        <li><a href="">Real Results</a></li>
                        <li><a href="">Build My Bundle</a></li>
                    </ul>
                </div>
            </div>
            <div class="account">
                <a class="btn" href="">Take the Quiz</a>
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
        </nav>
    </div>
</header>

{% liquid
    assign variable_name = value
%}

{% schema %}
    {
        "name": "Header Menu",
        "enabled_on": {
        "groups": ["header"]},
        "limit": 1,
        "settings": [
            {
                "type": "color",
                "id": "bgcolor",
                "label": "Background Color"
            }
        ],
        "presets": [
            {
                "name": "Header Menu"
            }
        ]
    }
{% endschema %}