<section class="color-{{ section.settings.color_scheme }} gradient">
  <h2>Hello</h2>
</section>

{% schema %}
{
  "name": "Test section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme_default"
    }
  ]
}
{% endschema %}
