<section class="color-{{ section.settings.color_scheme }} gradient">
  <h1>Welcome</h1>
<a class="btn">Shop now</a>
</section>

<style>
    section {
     background: var(--bg);
    }

    .btn {
    padding: 10px 20px;
    background-color: var(--btn);
    color: var(--btn-text);
    }

</style>


{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            }
        ]
    }
{% endschema %}