<section class="hero color_scheme-{{ section.settings.color_scheme }}">
  <h1>Welcome</h1>
  <a class="btn">Shop now</a>
</section>

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            }
        ]
    }
{% endschema %}