<section class="color-{{ section.settings.color_scheme }} gradient">
  <h1>Welcome</h1>
</button>
<a class="btn">Shop now</a>
  <button>
</section>

{% schema %}
    {
        "name": "Header",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            }
        ]
    }
{% endschema %}