<section class="color-{{ section.settings.color_scheme }} gradient">
  <h1>Welcome</h1>
<a class="btn">Shop now</a>
</section>

<style>
    section {
     background: var(--bg);
     color: var(--text);
    }

    .header_section .btn {
    padding: 10px 20px;
    background: var(--btn);
    border: 1px solid var(--btn-stock);
    }

</style>


{% schema %}
    {
        "name": "Header",
        "class": "header_section",
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            }
        ]
    }
{% endschema %}