<header>
    <div class="container">
        <nav>
            <div class="logo">
                <h1>Logo</h1>
                <div class="menu">
                    <ul>
                        <li><a href="">Shop All</a></li>
                        <li><a href="">Real Results</a></li>
                        <li><a href="">Build My Bundle</a></li>
                    </ul>
                </div>
            </div>
            <div class="account">
                {% render 'btn',
                    btntext: btntext,
                    btnlink: btnlink,
                    btncolor: btncolor,
                    btnredius: btnredius,
                    btnpaddingx: btnpaddingx,
                    btnpaddingy: btnpaddingy
                %}

                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <i class="fa-regular fa-user"></i>
                </div>
            </div>
        </nav>
    </div>
</header>

{% liquid
  assign bgcolor = section.settings.bgcolor
  assign padding = section.settings.padding
  assign btntext = section.settings.btntext
  assign btnlink = section.settings.btnlink
  assign btncolor = section.settings.btncolor
  assign btnredius = section.settings.btnredius
  assign btnpaddingx = section.settings.btnpaddingx
  assign btnpaddingy = section.settings.btnpaddingy
%}

{% style %}
  header{
    background-color: {{ bgcolor }};
    padding: {{ padding }}px 0;
  }
{% endstyle %}

{% schema %}
    {
        "name": "Header Menu",
        "enabled_on": {
        "groups": ["header"]},
        "limit": 1,
        "settings": [
            {
                "type": "color",
                "id": "bgcolor",
                "label": "Background Color",
                "default": "#FDE1EF"
            },
            {
                "type": "range",
                "id": "padding",
                "label": "Padding",
                "default": 10,
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 2
            },
            {
                "type": "text",
                "id": "btntext",
                "label": "Header Button Text",
                "default": "Take the Quiz"
            },
            {
                "type": "url",
                "id": "btnlink",
                "label": "Header Button Link"
            },
            {
                "type": "color",
                "id": "btncolor",
                "label": "Button Color",
                "default": "#FDE1EF"
            },
            {
                "type": "range",
                "id": "btnpaddingx",
                "label": "Button PaddingX",
                "default": 10,
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 2
            },
            {
                "type": "range",
                "id": "btnpaddingy",
                "label": "Button PaddingY",
                "default": 10,
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 2
            },
            {
                "type": "range",
                "id": "btnredius",
                "label": "Button Redius",
                "default": 10,
                "unit": "px",
                "min": 0,
                "max": 120,
                "step": 2
            },
        ],
        "presets": [
            {
                "name": "Header Menu"
            }
        ]
    }
{% endschema %}