{% liquid
  assign herobanner = section.settings.herobanner
  assign herobanner_phone = section.settings.herobanner_phone

  assign imagetitle = section.settings.imagetitle
%}

<div class="banner">
    {% if herobanner != blank %}
        <img class="herobanner_img" src="{{ herobanner | image_url }}" width="100%" height="auto" alt="">
    {% endif %}

    {% if herobanner_phone != blank %}
        <img class="herobanner_img_phone" src="{{ herobanner_phone | image_url }}" width="100%" height="auto" alt="">
    {% endif %}

    <div class="imagebanner">
        <div class="page-width">
            <div class="imagebanner-content">
                <h1 class="title">{{ imagetitle }}</h1>
            </div>
        </div>
    </div>
</div>
<style>
    .banner{
        position: relative;
    }
    .imagebanner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .imagebanner-content{
        width: 100%;
    }
    .title{
        font-size: 50px;
        text-align: center;
    }
@media (max-width: 575px) {
    .imagebanner-content h1 {
        font-size: 40px;
    }
}
</style>

{% schema %}
    {
        "name": "Image Banner",
        "class": "image_banner",
        "settings": [
            {
                "type": "image_picker",
                "id": "herobanner",
                "label": "Image Banner"
            },
            {
                "type": "image_picker",
                "id": "herobanner_phone",
                "label": "Image Banner for Phone"
            },

            {
                "type": "text",
                "id": "imagetitle",
                "label": "Section Title",
                "default": "What's In The Package"
            },
        ],
        "presets": [
            {
                "name": "Image Banner"
            }
        ]
    }
{% endschema %}
