{% liquid
  assign title = section.settings.title
  assign color_scheme = section.settings.color_scheme

%}

<div class="">
    <div class="page-width">
        <div class="multicolumn">
            <h1 class="title">{{ title }}</h1>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Multiple Column",
        "class": "multicolumn",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Hero Title",
                "default": "Our Winning Organic Spice Blends"
            },
        ],
        "presets": [
            {
                "name": "Multiple Column"
            }
        ]
    }
{% endschema %}
