@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    height: auto;
    margin: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    gap: 30px;
    align-items: center;
}
.menu ul {
    display: flex;
    gap: 20px;
}
a.btn {
    display: inline-block;
    background-color: #525036;
    padding: 12px 24px;
    border-radius: 10px;
    color: white;
}
.account {
    display: flex;
    align-items: center;
    gap: 20px;
}
.icon {
    display: flex;
    gap: 10px;
}