@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    list-style: none;
    text-decoration: none;
}
.page-width {
  max-width: var(--page-width);
  margin: auto;
}

h1, h2{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 62px;
}

section {
  background: var(--bg);
}

.btn {
  padding: 10px 20px;
  background: var(--btn);
  color: var(--btn-text);
}
