@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
}
.page-width {
    max-width: var(--page-width);
    margin: auto;
}

h1, h2{
    font-weight: 700;
    font-size: 32px;
    text-decoration: uppercase;
}
section {
    background: var(--bg);
    color: var(--text);
}
.btn {
    background: #121212;
    padding: 15px 20px;
    display: block;
    color: white;
}